USE [Album]
GO

/****** Object: User [alumno] ******/

/****** Tabla: figuritas_x_usuario ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[figuritas_x_usuario](
    [ID] INT NOT NULL,
    [ID_Jugador] INT NOT NULL,
    [cantidad] INT NOT NULL,
    CONSTRAINT [PK_figuritas_x_usuario] PRIMARY KEY CLUSTERED
    (
        [ID] ASC
    )
)
GO

/****** Tabla: Jugador ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Jugador](
    [ID_seleccion] INT NOT NULL,
    [ID] INT NOT NULL,
    [nombre] VARCHAR(50) NOT NULL,
    [img] VARCHAR(5000) NOT NULL,
    CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED
    (
        [ID] ASC
    )
)
GO

/****** Tabla: Selecciones ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Selecciones](
    [ID] INT NOT NULL,
    [pais] VARCHAR(50) NOT NULL,
    CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED
    (
        [ID] ASC
    )
)
GO



INSERT INTO dbo.Selecciones (ID,pais) VALUES
(1,'Argentina'),
(2,'Brasil'),
(3,'Francia'),
(4,'España'),
(5,'Alemania'),
(6,'Italia'),
(7,'Portugal'),
(8,'Inglaterra'),
(9,'Uruguay'),
(10,'Países Bajos');
GO


INSERT INTO dbo.figuritas_x_usuario(ID,ID_Jugador,cantidad) VALUES
(1,1,2),(2,2,1),(3,3,3),(4,4,2),(5,5,1),
(6,6,2),(7,7,1),(8,8,3),(9,9,2),(10,10,1),
(11,11,2),(12,12,1),(13,13,3),(14,14,2),(15,15,1),
(16,16,2),(17,17,1),(18,18,3),(19,19,2),(20,20,1),
(21,21,2),(22,22,1),(23,23,3),(24,24,2),(25,25,1),
(26,26,2),(27,27,1),(28,28,3),(29,29,2),(30,30,1),
(31,31,2),(32,32,1),(33,33,3),(34,34,2),(35,35,1),
(36,36,2),(37,37,1),(38,38,3),(39,39,2),(40,40,1),
(41,41,2),(42,42,1),(43,43,3),(44,44,2),(45,45,1),
(46,46,2),(47,47,1),(48,48,3),(49,49,2),(50,50,1);
GO



ALTER TABLE [dbo].[Jugador]
ADD CONSTRAINT [FK_Jugador_Selecciones]
FOREIGN KEY([ID_seleccion])
REFERENCES [dbo].[Selecciones]([ID]);
GO

ALTER TABLE [dbo].[figuritas_x_usuario]
ADD CONSTRAINT [FK_figuritas_x_usuario_Jugador]
FOREIGN KEY([ID_Jugador])
REFERENCES [dbo].[Jugador]([ID]);
GO

DELETE  FROM figuritas_x_usuario