USE [Album]
GO
/****** Objeto: Table [dbo].[Figuritas] Fecha de script: 14/7/2026 12:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSeleccion] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Imagen] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Figuritas_X_Usuario] Fecha de script: 14/7/2026 12:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas_X_Usuario](
	[ID] [int] NOT NULL,
	[IDFigurita] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Figuritas_X_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Selecciones] Fecha de script: 14/7/2026 12:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figuritas] ON 

INSERT [dbo].[Figuritas] ([ID], [IDSeleccion], [Nombre], [Imagen]) VALUES (2, 1, N'MESSI', N'messi.svg')
INSERT [dbo].[Figuritas] ([ID], [IDSeleccion], [Nombre], [Imagen]) VALUES (3, 1, N'ÁLVAREZ', N'alvarez.svg')
INSERT [dbo].[Figuritas] ([ID], [IDSeleccion], [Nombre], [Imagen]) VALUES (4, 1, N'E. MARTINEZ', N'emiliano.svg')
SET IDENTITY_INSERT [dbo].[Figuritas] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([ID], [Pais]) VALUES (1, N'ARGENTINA')
INSERT [dbo].[Selecciones] ([ID], [Pais]) VALUES (2, N'BRASIL')
INSERT [dbo].[Selecciones] ([ID], [Pais]) VALUES (3, N'ESPAÑA')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Selecciones] FOREIGN KEY([IDSeleccion])
REFERENCES [dbo].[Selecciones] ([ID])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Selecciones]
GO
ALTER TABLE [dbo].[Figuritas_X_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_X_Usuario_Jugadores] FOREIGN KEY([IDFigurita])
REFERENCES [dbo].[Figuritas] ([ID])
GO
ALTER TABLE [dbo].[Figuritas_X_Usuario] CHECK CONSTRAINT [FK_Figuritas_X_Usuario_Jugadores]
GO
